Package: dfm-xmenu-changelog-update
Source: dfm-xmenu-plugins
Version: 1.4-1
Architecture: all
Maintainer: zhanghongyuan <zhanghongyuan@uniontech.com>
Installed-Size: 46
Depends: git, devscripts, dpkg-dev
Section: utils
Priority: optional
Homepage: https://github.com/your-repo/dfm-xmenu-plugins
Description: ChangeLog upgrade context menu plugin for DDE File Manager
 Provides ChangeLog upgrade tool context menu option for automatically updating
 Debian changelog and version information in DDE File Manager.
